<h1>Server Side Sass Compilation</h1>
<p>
    Use NSass to compile Sass on the server!
    You might need to F5 the page after saving...
</p>

<!-- Super simple form, just to show an example -->
<form method="post" action="@Url.Action("SaveStyles","Home")">

    <label>Color</label>
    <input name="color" />

    <label>Font</label>
    <input name="font" />

    <button type="submit">Save</button>
</form>

